@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  background-image: url("https://bit.ly/3oOmzab");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: white;
  font-family: "Roboto", sans-serif;
}

#answers {
  text-align: center;
  position: relative;
  top: 75px;
}

.answer {
  text-align: center;
  position: relative;
  top: 75px;
}

#input,
#submit,
#next {
  font-size: 22px;
  border-radius: 10px;
  border: none;
  height: 30px;
}

#submit {
  width: 70px;
  font-weight: 700;
  border: none;
  height: 40px;
}

#math {
  font-family: "Roboto";
  position: relative;
  top: 50px;
  text-align: center;
  font-size: 30px;
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header {
  font-size: 45px;
  font-family: "Poppins";
}

#level {
  position: fixed;
  top: 0;
  color: red;
}

#info {
  position: fixed;
  bottom: 5px;
}

.timer {
  position: absolute;
  text-align: left;
  top: 0;
}

#time {
  font-size: 25px;
}

#theme {
  position: absolute;
  bottom: 0;
  font-size: 15px;
  border: none;
  height: 30px;
  width: 120px;
  border-radius: 20px;
}